# Categorical Feature

In [1]:
import pandas as pd

In [5]:
df=pd.DataFrame([['Green','s',500,'class1'],
                ['red','m',200,'class2'],
                ['blue','l',100,'class3'],
                ['black','xl',600,'class4']])
df.columns=['color','size','price','target']
df

   color size  price  target
0  Green    s    500  class1
1    red    m    200  class2
2   blue    l    100  class3
3  black   xl    600  class4

In [4]:
df.dtypes

color     object
size      object
price      int64
target    object
dtype: object

In [6]:
# 'size' column is having ordinal features.

In [7]:
df['size'].unique()

array(['s', 'm', 'l', 'xl'], dtype=object)

# label encoding using map()

In [8]:
size_mapping={'s':1,'m':2,'l':3,'xl':4}
df['size']=df['size'].map(size_mapping)
df

   color  size  price  target
0  Green     1    500  class1
1    red     2    200  class2
2   blue     3    100  class3
3  black     4    600  class4

In [9]:
df['color'].unique

<bound method Series.unique of 0    Green
1      red
2     blue
3    black
Name: color, dtype: object>

# label encoding using get_dummies():

In [11]:
c_df=pd.get_dummies(df['color'])
c_df

   Green  black  blue  red
0      1      0     0    0
1      0      0     0    1
2      0      0     1    0
3      0      1     0    0

In [12]:
ex_o=df.iloc[:,:-1].select_dtypes(exclude=['object'])
ex_o

   size  price
0     1    500
1     2    200
2     3    100
3     4    600

In [15]:
df_new=pd.concat((c_df,ex_o),axis=1)
df_new

   Green  black  blue  red  size  price
0      1      0     0    0     1    500
1      0      0     0    1     2    200
2      0      0     1    0     3    100
3      0      1     0    0     4    600

In [16]:
df.iloc[:, 3]

0    class1
1    class2
2    class3
3    class4
Name: target, dtype: object

In [17]:
from sklearn.preprocessing import LabelEncoder
encoder_x=LabelEncoder()
df.iloc[:, 3]=encoder_x.fit_transform(df.iloc[:,3])
df

   color  size  price  target
0  Green     1    500       0
1    red     2    200       1
2   blue     3    100       2
3  black     4    600       3